<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TODOアプリケーション</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('header') %>

    <div class="top-wrapper">
      <div class="container">
        <a href="/index" class="rein">一覧に戻る⬅︎</a>
        <div>
          <% howto_todo.forEach((howto, index) => { %>
            <% if(howto.category === 'all') { %>
              <p class="todo-list"><%= howto.title %></p>
              <p><%= howto.article %></p>
            <% } %>
            <% if(howto.category === 'limited') { %>
              <p class="todo-list"><%= howto.title %></p>
              <i>会員限定</i>
              <% if(locals.isLoggedIn) { %>
              <p><%= howto.article %></p>
              <% } else { %>
              <p>今すぐログインしよう！</p>
              <a href="/login">ログイン</a>
              <% } %>
            <% } %>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
